body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
main,
article {
	background-color: navajowhite;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	color: #a06000;
}

#main {
	height: 400px;
	width: 900px;
	margin: 50px auto 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-header {
	text-align: center;
	margin-top: 48px;
}

.sub-header {
	text-align: center;
	margin-top: 56px;
}

h1 {
	margin: 16px;
}

.buttons-container {
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	margin-top: 48px;
}

button {
	min-width: 150px;
	padding: 10px 15px;
	cursor: pointer;
	appearance: none;
	border: 1px solid #a06000;
	border-right: none;
	color: #a06000;
	background-color: navajowhite;
}

button.active-sort {
	background-color: #a06000;
	color: navajowhite;
}

.buttons-container button:last-of-type {
	border-right: 1px solid #a06000;
}
